

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


body{
    margin: 0;
    
}







h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

a, button {
    cursor: pointer;
  }
  


button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1xp solid black(0,0,0,0,3);
    box-shadow: 2px 2px 10px black80(0,0,0,0,5);
    color:white;
    background-color: rgb(158, 158, 19);

}

/*fondo de reels*/
#fondoo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("sispac.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
    
}


/*LOGO pagina principal*/

.logo{
    background-color: rgb(21,21,21);
    color: #d7c603;
    border: none;
    padding: 20px 40px;
    font-size: 21px;
    cursor: pointer;
    
}





/*BORDE PRINCIPAL COMO EL DE TIKTOK*/

.border {
    display: flex; /* permite alinear los elementos en línea */
    height: 456%; /* establece el alto del elemento en 100% */
    flex-direction: column; /* distribuye los elementos en una columna */
    /* agrega un borde al elemento border: 10px solid rgb(30, 30, 30); ( no lo utilizo aqui)*/
    /* redondea los bordes del elemento: border-radius: 20px; ( no lo utilizo aqui) */
    position: absolute; /* posiciona el elemento de forma absoluta */
    left: 0; /* posiciona el elemento a la izquierda */
    top: 500; /* posiciona el elemento arriba */
  }
  
  /*ESTA SECCION DE ICON NO TIENE NINGUNA FUNCION SOLO EXPLICA*/
  .iconn {
    width: 50px; /* establece el ancho del icono */
    height: 50px; /* establece la altura del icono */
    background-color: #ccc; /* establece el color de fondo del icono */
    border-radius: 50%; /* redondea los bordes del icono */
    margin: 0 0 10px 0; /* agrega margen entre los iconos */
  }

  /* borrar */

  
  
  
  
  



button:hover{
    background-color: yellow(101, 33, 165);
}

.container{

    max-width: 1400px;
    margin: auto;
}

.color-acento{ color:blueviolet;}

header{
    background-color: rgb(21, 21, 21);
}

header .logo{
    margin: 0;
    padding: 35px 30px;
    font-weight: bold;
    color: yellow;
    font-size: 1.6em;
    
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: red
}



#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("https://aztethic.com/wp-content/uploads/2020/08/deporte-entrenamiento-condicion-fisica-estilo-vida-concepto-gente-mujer-joven-entrenador-personal-que-dobla-espalda-musculos-abdominales-banco-gimnasio_96727-213.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center

}

#hero h1{
    color: white;
}

#hero button{
    font-size: 1.7em;
}

#somos-vidafid .container{
    text-align: center;
    padding: 200px 12px;
}

#product .container{
    text-align: left;
    padding: 800px 12px;
}

#nuestross .container{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#nuestross .container{
    padding: 90px 0px;
}

#nuestross h2{
    margin-top: 0;
    font-size: 5em;
}

#nuestross p{
    display: none;
}

#programas .container{
    max-width: 1400;
    margin: auto;
}

/* GRAN IMAGEN DE DONACION */

#donaciones{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagendonaciones.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-emphasis-position: center;

}



.carta:first-child{
    background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("deporte-entrenamiento-condicion-fisica-estilo-vida-concepto-gente-mujer-joven-entrenador-personal-que-dobla-espalda-musculos-abdominales-banco-gimnasio_96727-213.jpg");
        background-position: center center;
        background-size: cover;
        padding: 100px;
        margin: 70px;
        border-radius: 15px;
        
    }

    
    
    .carta:nth-child(2){
    background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("sispac.jpg");
        background-position: center center;
        background-size: cover;
        padding: 100px;
        margin: 70px;
        border-radius: 15px;
        
    }
    
    .carta:nth-child(3){
    background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("https://accelerated-fitness.com/wp-content/uploads/2017/12/kick-class.jpg");
    
        background-position: center center;
        background-size: cover;
        padding: 100px;
        margin: 70px;
        border-radius: 15px; 


}

#caracteristicas .container{

    text-align: center;
    padding: 250px 12px;
}

#caracteristicas li{
    margin: 16px 0px;
    font-weight: bold;
}

#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
    height: 80vh;

}

#final h2{
    font-size: 9vh;
}

#final button{
    font-size: 5em;
}

footer{
    background-color: rgb(230, 230, 230);
}



footer p{
    height: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width:720px){

    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{

        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{

        font-size: 5em;
    }
    

    #somoss .container{
        display: flex;
        justify-content: space-evenly;
    }

    #somoss .texto{

        width: 50%;
        max-width: 500px;
        text-align: initial;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #somoss h2{

        margin-top: 0%;
    }
   


    #somoss .img-container{

        background-image: url("sispac.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;
    }

    #nuestross .programas{

        display: flex;
        justify-content: center;
    }

    #nuestross p{
        display: block;
        margin-bottom: 30px;
    }

    #nuestross h3{
        margin-top: 0px;
    }
    

    #nuestross .carta{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgb(50, 50, 50);
        box-shadow: 2px 2px 10px rgb(21, 21, 21);
        overflow-x: hidden
    }
    
    .carta:first-child{
        background-image: linear-gradient(
                0deg,
                rgba(0,0,0,0.5),
                rgba(0,0,0,0.5)
            )
            ,url("deporte-entrenamiento-condicion-fisica-estilo-vida-concepto-gente-mujer-joven-entrenador-personal-que-dobla-espalda-musculos-abdominales-banco-gimnasio_96727-213.jpg");
            background-position: center center;
            background-size: cover;
            padding: 100px;
            margin: 70px;
            border-radius: 15px;
        }
        
        .carta:nth-child(2){
        background-image: linear-gradient(
                0deg,
                rgba(0,0,0,0.5),
                rgba(0,0,0,0.5)
            )
            ,url("sispac.jpg");
            background-position: center center;
            background-size: cover;
            padding: 100px;
            margin: 70px;
            border-radius: 15px;
            
        }
        
        .carta:nth-child(3){
        background-image: linear-gradient(
                0deg,
                rgba(0,0,0,0.5),
                rgba(0,0,0,0.5)
            )
            ,url("https://accelerated-fitness.com/wp-content/uploads/2017/12/kick-class.jpg");
        
            background-position: center center;
            background-size: cover;
            padding: 100px;
            margin: 70px;
            border-radius: 15px;
            
    
    }

    #caracteristicas{
        background-image: url("caracteristicass.jpg");
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position: calc(100vw + 500px) 120px;
    }

    #caracteristicas .container{
        text-align: initial;

    }

    #caracteristicas ul{
        margin-left: 100px;
    }

    #final h2{
        font-size: 5em;
    }

    #final button{
        font-size: 2em;

    }

    footer .container{
        align-content: flex-end;
    }

    
}

@media (min-width: 1200xp){
    #carateristicas{
        background-position-x: calc(100vw - 800px);
    }
}

    /*PAGINA DE TIENDA*/


  /* Estilos de la página principal */
  .product a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.product {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
  }
  .product img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
  }
  .product .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .product .info h3 {
    margin: 0;
  }
  .product .info p {
    margin: 0;
    color: #888;
  }
  .product .info .price {
    font-weight: bold;
    color: #444;
  }
  .product .view-details {
    background: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    
  }

  
 
  







  

  

  

  


  
  


